<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- RetroAchievements: logging in, loading a game's achievements and sending unlocks. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Saving screenshots and printouts to Pictures; Android 10 and later need no permission. -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.gamepad" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:appCategory="game"
        android:icon="@mipmap/ic_launcher"
        android:isGame="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidBoy">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- "Open with" from file managers. ROMs have no standard MIME type, so accept generic binaries. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="content" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-gameboy-rom" />
                <data android:mimeType="application/x-gameboy-color-rom" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HomebrewActivity"
            android:exported="false"
            android:label="Homebrew Hub" />
        <activity
            android:name=".AchievementsActivity"
            android:exported="false"
            android:label="@string/retroachievements" />
        <activity
            android:name=".EmulatorActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboard|keyboardHidden|navigation|uiMode|density"
            android:exported="false"
            android:resizeableActivity="true"
            android:screenOrientation="fullUser"
            android:theme="@style/Theme.AndroidBoy.Game" />
    </application>
</manifest>
